{% extends 'base.html' %}

{% load static %}

{% block stylesheet %}
  <link rel="stylesheet" href="{% static 'css/accounts.css' %}">
{% endblock %}

{% block body %}
  <div class="container">
    <h1 class="text-center logo my-4">
      <a style="color: white" href="{% url 'home' %}">Django Boards</a>
    </h1>
    <div class="row justify-content-center">
      <div class="col-lg-8 col-md-10 col-sm-12">
        <div class="card">
          <div class = "card-body">
            <h3>Sign up</h3>
            <form method="post" novalidate>
              {% csrf_token %}
              {% include 'includes/form.html' %}
            <button type="submit" class="btn btn-primary">Create an account</button>
            </form>
            </div>
            <div class="card-footer text-muted text-center">
                Already have an account? <a href="#">Log in</a>
            </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
